
<html>
<body>
<form action='/result' method="post" style="background:lightgrey; margin-top: 150px; margin-right: 250px;margin-left: 250px; margin-bottom: 50px; border-style: inset;">
<center><h1>EMPLOYEE SALARY PREDICTOR</h1>
<h1></h1>

    <br>Experience:
  <input type="text" id ="r1" name="r1" required><br>
      <br>Test Score:
  <input type="text" id ="r2" name="r2" required><br>
      <br>Interview Score:
  <input type="text" id ="r3" name="r3" required><br>
    <!--  <br>Room:
  <input type="text" id ="r4" name="r4"><br>
      <br>Room:
  <input type="text" id ="r5" name="r5"><br>
      <br>Room:
  <input type="text" id ="r6" name="r6"><br>
      <br>Room:
  <input type="text" id ="r7" name="r7"><br>
      <br>Room:
  <input type="text" id ="r8" name="r8"><br>
      <br>Room:
  <input type="text" id ="r9" name="r9"><br>
      <br>Room:
  <input type="text" id ="r10" name="r10"><br>
      <br>Room:
  <input type="text" id ="r11" name="r11"><br>
      <br>Room:
  <input type="text" id ="r12" name="r12"><br>
      <br>Room:
  <input type="text" id ="r13" name="r13"><br>
   <br>Room:
  <input type="text" id ="r14" name="r14"><br>
  -->
  
   <br><button>Submit</button>
    <br>
    <h3>{{ param }}</h3>

   </center>
    </form>
</body>
</html>